@import "./color-vars.scss";
*{
    box-sizing: border-box;
}
.navbar{
    position:fixed;
    .container{
        margin:0 !important;
        max-width:100%;
        padding:20px;
        .navbar-nav{
            display: flex;
            justify-content: space-between;
            .nav-link{
                button{
                    background-color:$btn-blue;
                    border:none;
                    &:hover{
                        box-shadow:0 0 50px $btn-blue;
                        border:none;
                        // outline:none;
                    }
                    &.btn-selected{
                        background-color:$btn-black;
                        color:white;
                        &:hover{
                            box-shadow:none;
                        }
                    }
                }
            }
        }
    }   
}