@import "./color-vars.scss";
*{
    box-sizing: border-box;
}
.navbar{
    position:fixed;
    .container{
        margin:0 !important;
        max-width:100%;
        padding:20px;
        .navbar-nav{
            display: flex;
            justify-content: space-between;
            .nav-link{
                button{
                    background-color:$btn-blue;
                    border:none;
                    &:hover{
                        background-color: white;
                        color:$btn-blue;
                        box-shadow:0 0 50px white;
                        border:none;
                        // outline:none;
                    }
                    &:disabled{
                        background-color: $btn-black;
                        opacity:1;
                        color: white;
                        &:hover {
                            box-shadow: none;
                        }
                    }
                    
                }
            }
        }
    }   
}